.card {
    background-color: white;
    border: .05em solid;
    border-radius: .5em;
    overflow: hidden;
    display: flex;
    gap: 2rem;

    &__tittle {
        margin: 1rem 0;
    }

    &__text {
        margin: .5rem 0;
    }

    &__link {
        font-size: 1.3rem;
    }

    &__contents {
        padding: 1rem 0;
    }
}