.card {
    background-color: white;
    border: .05em solid;
    border-radius: .5em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__contents {
        padding: 2rem;
    }
}