.usercard {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
    align-items: stretch;
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
    background-color: #ffffff;
    border: .1em solid var(--color-main);
    border-radius: .5em;
    box-shadow: 0 0 2rem 0 #1c1c1e3c;
    font-size: 2rem;
    font-weight: 300;

    &__present {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        text-align: center;
    }

    &__img {
        border-radius: .5em;
        width: 20rem;
        aspect-ratio: 1;
    }

    &__dni {
        font-size: 2.4rem;
        font-weight: inherit;
    }

    &__contents {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        gap: 1rem;
    }

    &__header {
        display: flex;
        flex-direction: column;
    }

    &__tittle {
        font-size: 3.2rem;
        font-weight: bold;
        color: var(--color-main);
    }

    &__subtittle {
        font-size: 1.8rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 2rem 0;
        gap: 3rem;
    }

    &__subsection {
        display: flex;
        flex-direction: column;
    }

    &__bd {
        position: absolute;
        bottom: 1.5rem;
        right: 1.8rem;
    }
}

@media all and (min-width: 768px) {
    .usercard {
        padding: 4rem 7rem;
        gap: 3rem;
        flex-direction: row;
        margin: 5rem auto;
    }
}